
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --primary-color: #22254b;
    --secondary-color: #373b69;
}


*,
html * /* override x.xhtml.ru style */ 
{
  scrollbar-width: thin;
  scrollbar-color: #22254b #7378c5;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: #7378c5;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255, 255, 255, .25) 50%,
                rgba(255, 255, 255, .25) 75%,
                transparent 75%,
                transparent);
  background-color: #22254b;
  border-radius: 5px;
  border: 1px solid #000000;
}

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}
.search {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;
    position: relative;
}
.search::placeholder {
    color: #7378c5;
}
.search:focus {
    outline: none;
    background-color: var(--primary-color);
}
.close{
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 23px;
    right: 35px;
    background-image: url('assets/svg/close-svgrepo-com.svg');
    background-size: contain;
    cursor: pointer;
    filter: invert(3%) sepia(8%) saturate(3560%) hue-rotate(73deg) brightness(97%) contrast(80%);
}
.show{
    display: flex;
}
.close:hover{
    filter: invert(22%) sepia(8%) saturate(3560%) hue-rotate(47deg) brightness(97%) contrast(92%);
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 300px;
    margin: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}
.movie__info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.movie__info h3 {
    margin-top: 0;
}
.movie__info span {
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}
.movie__info span.green {
    color: lightgreen;
}
.movie__info span.orange {
    color: orange;
}

.movie__info span.red {
    color: red;
}
.overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
}
.movie:hover .overview {
    transform: translateY(0);
}
.container{
    display: none;
}
.container.empty{
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 196px);
    background-image: url('./assets/svg/sadness.jpg');
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
}
.container_title{
    font-size: 34px;
    padding-top: 20px;
    color: #ffffff;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--secondary-color)
}

.footer__wrapper{
    display: flex;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
}
.footer__data{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 120px;
}
.footer__data__copyright,
.footer__data__year{
    padding-right: 20px;
    margin: 0;
}
.footer__data__github__link{
    text-decoration: none;
    color: #ffffff
}
.footer__data__github__link:hover{
    color:#7378c5;  
}
.footer__TMDB__link{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.footer__TMDB__link__img{
    width: 110px;  
}
.hide{
    display: none;
}